<div>
  <h3>About</h3>
  <h4>Disclaimer</h4>
  <p>
    camover1984 is strictly for educational purposes and in no way condones the disabling of security cameras,
    nor does camover1984 condone the use of this tool for breaking laws.
  </p>
  <br>
  <h4>Intent</h4>
  <p>
    Why care now when we live in a time where people don't mind checking themselves into the hip bar,
    posting their every thought for the word to read, or photographing every minutia of their lives? At a time where our every
    click online can be logged into a database and aggregated into meta-data that classifies us as either model citizen-consumer
    or potential threat, why should it matter that our physical movements be tracked too?
  </p>
  <p>
    Perhaps it doesn't, but there are still some of us who are tired of being monitored. Too long has the Panopticon kept its
    watch over us. Governments pay lip service to freedom while spying on their citizens. What does it even mean to be free anymore?
    can one imagine their every movement being watched for the slightest transgression from the status quo?
  </p>
  <p>
    This is for the unmonitored spaces and those who frequent them, for the ones who don't equate freedom with a shopping mall
    or a ballot box, for those who believe in unfettered human potential.
  </p>
</div>
