<div>
  <h3>Development</h3>
  <p>Know JavaScript? camover1984 is entirely open-source and new issues are always
    coming up. Head on over to <a href="https://github.com/crashspringfield/camover">our GitHub</a> and check out the issues.

    Think you can make it run better? Fork us and start working on your own branch.</p>
  <p>Even if computers aren't your thing, feel free to suggest features and new
    ways of doing things</p>
  <br>
  <h3>Resources</h3>
  <p>We're always looking for more references to add to <a ui-sref="references">our list of resources</a>
    on security culture, surveillance, encryption, and other things people can do
    to keep themselves safe.</p>
  <br>
  <h3>Finances</h3>
  <p>Like it or not, we exist under capitalism. Hosting, domain names, and database
    storage all cost money. Upkeep takes time. If you have cash to spare, donations
    are what keeps this going</p>
</div>
