<div>
  <h3>Security Culture</h3>
    <a href="http://www.crimethinc.com/texts/atoz/security.php">What is security culture?</a>
    <p>A brief introductory zine on security culture and practice by Crimethinc.</p>

    <a href="http://blog.totallynotmalware.net/?p=206">Security Lessons Learned from Harry Potter</a>
    <p>An entertaining introduction to good and bad security culture practice with examples from the Harry Potter series.</p>

    <a href="http://www.ruckus.org/downloads/RuckusSecurityCultureForActivists.pdf">Security Culture for Activists</a>
    <p>The Ruckus Society's introduction to the Hows and Whys of security culture.</p>
    <br />

  <h3>Surveillance</h3>
    <a href="https://www.aclu.org/issues/national-security/privacy-and-surveillance">Privacy and Surveillance</a>
    <p>The ACLU's brief introduction to the many forms of surveillance we live under,
    along with some useful links.</p>

    <a href="https://prisonbooks.info/2014/10/24/how-the-surveillance-state-changes-our-everyday-lives/#more-5846">How the Surveillance State Changes Our Everyday Lives</a>
    <p>A Vice article (link goes to Prison Books website) about the ways in which
    we help the state monitor us.</p>
  <br />

  <h3>Electronic Safety</h3>
    <a href="https://ssd.eff.org/en">Surveillance Self-Defense</a>
    <p>A how-to guide on digital security from the Electronic Frontier Foundation.</p>

    <a href="https://whispersystems.org/">Signal</a>
    <p>An encrypted text-messaging app.</p>

    <a href="https://www.torproject.org/projects/torbrowser.html.en">Tor Browser</a>
    <p>Anonymous web browsing.</p>

    <a href="https://tails.boum.org/">Tails</a>
    <p>An annonymous operating system focused on anonymity</p>
    <br />

  <h3>The Police State</h3>
    <a href="http://thefreethoughtproject.com/police-surveillance-cameras-city/">Security Cameras and Warrantless tracking</a>
    <p>An article about how security cameras are being used to track people.</p>
  <br />
</div>
